{% extends "admin/base.html" %}

{% block content %}
    <table>
        <tr>
            <th>Order Id</th>
            <th>Customer id</th>
            <th>Customer first name</th>
            <th>Customer last name</th>
            <th>Customer phone</th>
            <th>Customer address</th>
            <th>Status id</th>
            <th>Order date</th>
            <th>Total price</th>
            <th>Products</th>
        </tr>
        {% for entry in orders %}
        <tr>
            <td>{{ entry.id }}</td>
            <td>{{ entry.customer.id }}</td>
            <td>{{ entry.customer.first_name }}</td>
            <td>{{ entry.customer.last_name }}</td>
            <td>{{ entry.customer.phone_num }}</td>
            <td>{{ entry.customer.address }}</td>
            <td>{{ entry.status }}</td>
            <td>{{ entry.order_date }}</td>
            <td>{{ entry.total_price }}</td>
            <td>
                <table>
                    <tr>
                        <th>Product Id</th>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Amount</th>
                    </tr>
                        {% for prod in entry.products %}
                            <tr>
                                <td>{{ prod.id }}</td>
                                <td>{{ prod.title }}</td>
                                <td>{{ prod.price }}</td>
                                <td>{{ entry.products[prod] }}</td>
                            </tr>
                        {% endfor %}
                </table>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock content %}