{% extends "base.html" %}

{% block title %} Public {% endblock title %}

{% block header %}
    <h1>Products</h1>
{% endblock header %}

{% block content %}
    <table>
        <tr>
            <th></th>
            <th>Id</th>
            <th>Product</th>
            <th>Category</th>
            <th>Price</th>
            <th>Amount available</th>
        </tr>
        {% for entry in products %}
        <tr>
            <td> <a href="{{ url_for('add_to_cart', product_id=entry.id, quantity=1) }}"> Add to Cart</a> </td>
            <td>{{ entry.id }}</td>
            <td>{{ entry.title }}</td>
            <td>{{ entry.category}}</td>
            <td>{{ entry.price }}</td>
            <td>{{ entry.amount_in_stock }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock content %}